<form action='' method='post'>
    <input type='hidden' name='postID' value='<?php echo $row['postid']; ?>'>

    <p><label>Title</label><br/>
        <input type='text' name='postTitle' value='<?php echo $row['posttitle']; ?>'></p>

    <p><label>Description</label><br/>
        <textarea name='postDesc' cols='60' rows='10'><?php echo $row['postdesc']; ?></textarea></p>

    <p><label>Content</label><br/>
        <textarea name='postCont' cols='60' rows='10'><?php echo $row['postcont']; ?></textarea></p>

    <p><input type='submit' name='submit' value='Update'></p>

</form>

</div>

</body>
</html>	